body {
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:1em;
  background:#fff;
  min-width:800px;
  max-width:1024px;
margin-top:0;
}
input {
  font-family:Courier;
  background:#eee;
  font-size:12pt;
}

